.input-field {
  width: 70px;
  border-radius: 5px;
  padding: 3px;

}

.action-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 3px 7px;
  margin: 0 0 0 5px;
  border-radius: 5px;
  width: 50px;
}

.update {
  background-color: #39ac2d;
}

.cancel {
  background-color: #f84747;
}

.hint-message {
  margin-top: 3px;
  font-size: 11pt;
}

.hint-message .star {
  color: #f84747;
  margin-right: 3px;
}